@{
    ViewData["Title"] = "Descuentos";
}

<div class="section">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/descuentovolumen.jpg" alt="Imagen de la visión" class="img-fluid h-100">
                <div class="discount-badge">
                    <span class="discount-text">Descuento por volumen</span>
                </div>
            </div>
            <div class="flip-card-back">
                <h2 class="text-center">Descuento por volumen</h2>
                <p>
                    ¡Aprovecha nuestro descuento por volumen para obtener un ahorro aún mayor
                    al adquirir puerquitos! Cuanto más compres, mayor será tu descuento.
                    No pierdas la oportunidad de hacer crecer tu negocio porcino con precios
                    especiales y cerdos de calidad.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/descuentorepe.jpg" alt="Imagen de la misión" class="img-fluid h-100">
                <div class="discount-badge">
                    <span class="discount-text">Descuento por repetición</span>
                </div>
            </div>
            <div class="flip-card-back">
                <h2 class="text-center">Descuento por repetición</h2>
                <p>
                    ¡Apreciamos tu lealtad! Como cliente recurrente,
                    te ofrecemos un descuento exclusivo en la compra de puerquitos.
                    Disfruta de un trato preferencial y precios especiales al volver a elegirnos.
                    ¡Continúa criando cerdos de calidad con nosotros y obtén beneficios adicionales
                    por ser parte de nuestra familia porcina!
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/descuentotem.jpg" alt="Imagen de la visión" class="img-fluid h-100">
                <div class="discount-badge">
                    <span class="discount-text">Descuento por temporada</span>
                </div>
            </div>
            <div class="flip-card-back">
                <h2 class="text-center">Descuento por temporada</h2>
                <p>
                    ¡Es el momento perfecto para expandir tu criadero de cerdos!
                    Aprovecha nuestro descuento por temporada y adquiere puerquitos a
                    precios reducidos. Ya sea que estés preparándote para el verano o el invierno,
                    nuestros descuentos te ayudarán a establecer una exitosa granja porcina.
                    ¡No dejes pasar esta oferta limitada en tiempo y cantidad!
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/descuentoadel.jpg" alt="Imagen de la misión" class="img-fluid h-100">
                <div class="discount-badge">
                    <span class="discount-text">Descuento por adelanto</span>
                </div>
            </div>
            <div class="flip-card-back">
                <h2 class="text-center">Descuento por adelanto</h2>
                <p>
                    ¡Asegura tu inversión desde el principio y ahorra con nuestro
                    descuento por pago adelantado! Al realizar el pago anticipado por tus puerquitos, r
                    ecibirás un descuento exclusivo. Obtén tranquilidad y precios más bajos al garantizar
                    tu compra. ¡No esperes más, aprovecha esta oportunidad para comenzar tu proyecto
                    porcino con confianza!
                </p>
            </div>
        </div>
    </div>
</div>

<br>
<br />
<br />

<div class="section">
    <h1>
        ¡Descubre nuestras increíbles ofertas y no dudes en preguntar para obtener los mejores beneficios!
        En nuestra granja, nos enorgullece ofrecer diferentes promociones diseñadas para adaptarse a tus
        necesidades. ¿Quieres ahorrar aún más en tu compra? Pregunta por nuestro descuento por volumen,
        dondecuanto más compres, ¡mayor será tu descuento! Además, como cliente recurrente, te ofrecemos
        descuentos especiales y trato preferencial. ¿Te gustaría conocer más detalles? ¡No esperes más!
        Pregunta por nuestras ofertas exclusivas y descubre cómo maximizar tus ganancias en la compra de
        puerquitos. Nuestro equipo está listo para brindarte toda la información que necesites. ¡Aprovecha
        estas oportunidades y haz crecer tu negocio porcino con nosotros!
    </h1>
</div>