@{
    ViewData["Title"] = "NICAMEX";
}

<div id="carouselGranjaControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/cria-porcina.jpg" class="d-block img-fluid mx-auto" alt="Imagen 1" style="width: 800px; height: 300px;">
        </div>
        <div class="carousel-item">
            <img src="~/img/produccion-porcina-dinamarca.png" class="d-block img-fluid mx-auto" alt="Imagen 2" style="width: 800px; height: 300px;">
        </div>
        <div class="carousel-item">
            <img src="~/img/sistemas-produccion-porcino-Mexico-1.jpg" class="d-block img-fluid mx-auto" alt="Imagen 3" style="width: 800px; height: 300px;">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselGranjaControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(100%);"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselGranjaControls" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(100%);"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<div class="text-center">
    <h1 class="display-4">NICAMEX</h1>
</div>






<div class="d-flex justify-content-center">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="~/img/vISION.jpg" alt="Imagen de la visión" class="img-fluid h-100">
            </div>
            <div class="flip-card-back">
                <h2 class="text-center">Visión</h2>
                <p>
                    Implementar un sistema de control eficiente y actualizado en Marzo-Diciembre
                    2024 para la compra y venta de cerdos.LLevar un registro detallado de todas
                    las transacciones, optimizar nuestro inventario y tomar decisiones
                    informadas sobre compras y ventas. Nos comprometemos a utilizar tecnología
                    avanzada y buenas prácticas de gestión para maximizar las ganancias y ofrecer
                    un servicio de calidad a los clientes.
                </p>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img src="img/mISION.jpg" alt="Imagen de la misión" class="img-fluid h-100">
            </div>
            <div class="flip-card-back">
                <h2 class="text-center">Misión</h2>
                <p>
                    Es una granja porcina líder en el control eficiente de compra y venta de cerdos.
                    Utilizamos sistemas tecnológicos avanzados que nos permiten tener un registro
                    preciso de transacciones, optimizar el inventario y maximizar las ganancias.
                </p>
            </div>
        </div>
    </div>
</div>