@{
    ViewData["Title"] = "Servicios";
}

<div class="text-center">
    <h1 class="display-4">NICAMEX</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="text-center">Requisitos para compra de puercos</h1>
            <p> <h5>- Registros de salud y vacunación: Los vendedores deben mantener registros detallados de la salud y vacunación de sus puercos. Deben proporcionar documentación que demuestre que sus animales han recibido las vacunas necesarias y han sido sometidos a controles sanitarios regulares.</h5></p>
            <p><h5>- Historial genético y linaje: Es posible que se requiera que los vendedores proporcionen información sobre el linaje de sus puercos, incluyendo detalles sobre los padres y cualquier información genética relevante.</h5></p>
            <p><h5>- Calidad de los animales: Los vendedores deben ofrecer puercos de calidad, sanos y libres de enfermedades. Pueden requerirse pruebas sanitarias y certificados veterinarios que respalden la salud y calidad de los puercos ofrecidos.</h5></p>
        </div>
        <div class="col-md-6">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="~/img/Pigs_mobile-header_480x709px.jpg" alt="Imagen de ejemplo" class="img-fluid h-100">
                    </div>
                    <div class="flip-card-back">
                        <h2 class="text-center">Requisitos generales</h2>
                        <ul>
                            <li>Raza</li>
                            <li>Género</li>
                            <li>Fecha de nacimiento</li>
                            <li>Peso actual</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br >
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/img/Puercogrande.jpg" alt="Imagen de calidad" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h1 class="text-center">Atributos de calidad</h1>
            <p>
                <h5>
                Puercos de calidad: La granja puede ofrecer puercos de alta calidad,
                sanos y bien cuidados, criados en un entorno limpio y seguro.
                </h5>
            </p>
            <p>
                <h5>
                Asesoramiento y soporte: La granja puede proporcionar asesoramiento y
                orientación a los compradores sobre el cuidado y la alimentación adecuada
                de los puercos, así como brindarles apoyo en caso de tener preguntas o
                enfrentar desafíos durante la cría.
                </h5>
            </p>
            <p>
                <h5>
                Documentación y registros: La granja puede ofrecer documentación completa y
                registros de salud de los puercos, incluyendo información sobre su linaje,
                vacunas, desparasitación y cualquier otro detalle relevante.
                </h5>
            </p>
            <p>
                <h5>
                Cumplimiento de regulaciones: La granja puede asegurar que los puercos ofrecidos
                cumplen con las regulaciones y estándares de bienestar animal establecidos,
                garantizando así la legalidad y ética en la venta.
                </h5>
            </p>
            <p>
                <h5>
                Servicio al cliente: La granja puede brindar un excelente servicio al cliente, atendiendo
                las necesidades y preguntas de los compradores de manera amable y profesional.
                </h5>
            </p>
        </div>
    </div>
</div>